---
import Layout from "../layouts/Layout.astro";
import Mario from "../components/Mario.astro";
import GameElements from "../components/GameElements.astro";
---

<Layout
  title="Mario 8-bit Tribute"
  score={0}
  coins={0}
  world="1-1"
  lives={3}
  time={400}
/>
<div class="mario-world-container">
  <div class="mario-world-stage">
    <div style="position: absolute; left: 100px; bottom: 120px;">
      <Mario />
    </div>

    <!-- Floating coins -->
    <GameElements element="coin" position="floating" x={200} />
    <GameElements element="coin" position="floating" x={250} />
    <GameElements element="coin" position="floating" x={300} />

    <!-- Brick blocks -->
    <GameElements element="block" position="floating" x={180} />
    <GameElements element="block" position="floating" x={220} />
    <GameElements element="block" position="floating" x={260} />

    <!-- Mushroom on ground -->
    <GameElements element="mushroom" position="ground" x={400} />

    <!-- Star at high level -->
    <GameElements element="star" position="high" x={500} />

    <!-- Fire flower -->
    <GameElements element="flower" position="floating" x={600} />

    <!-- Flag at the end -->
    <GameElements element="flag" position="ground" x={1000} size="large" />

    <!-- More distributed elements -->
    <GameElements element="coin" position="ground" x={350} />
    <GameElements element="coin" position="ground" x={450} />
    <GameElements element="block" position="ground" x={700} />
    <GameElements element="mushroom" position="floating" x={800} />
  </div>
</div>
